/* ==========================================================================
   #RESPONSIVE
   ========================================================================== */

// Responsivity
$mq-responsive: true;

// https://zeroheight.com/2496e2581/p/41fd7a
$mq-breakpoints: (
  mobile:     0px,     // 0px    ->  671px  (tiny)
  tablet:     672px,   // 672px  ->  1055px (small)
  smallDesk:  1056px,  // 1056px ->  1311px (medium)
  largeDesk:  1312px,  // 1312px ->  1583px (large)
  hugeDesk:   1584px,  // 1584px ->         (huge)
) !default;

$mq-show-breakpoints: ();
// If you want to display the currently active breakpoint in the top
// right corner of your site during development, add the breakpoints
// to this list, ordered by width, e.g. (mobile, tablet, desktop).

// ===========================================================================
// ⚠️Uncomment the next line to show the breakpoint tab in the top right of the screen.
// $mq-show-breakpoints: (mobile, tablet, smallDesk, largeDesk, hugeDesk);
// ===========================================================================

// This map is used by different components and objects across the site to
// specify at which breakpoints they will change their appearance.
$global-responsive-map: (
  mobileNav: smallDesk,
);
