%glitch {
  background: transparent;
  clip: rect(0, 900px, 0, 0);
  color: transparent;
  content: attr(data-text);
  left: 0;
  opacity: 0.25;
  overflow: hidden;
  position: absolute;
}

//@mixin backgroundImage($url) {
//    background-image: url(append-cache-query($url)); // stylelint-disable-line function-url-quotes
//}

@mixin square-w-h($_size) {
  height: $_size;
  width: $_size;
}

/* stylelint-disable value-no-vendor-prefix */

// https://stackoverflow.com/a/26634773
// disabled lint because ordering matters for browser fallback.

@mixin line-clamp($numLines: 1, $lineHeight: 1.412) {
  -webkit-box-orient: vertical;
  display: block;
  display: -webkit-box !important;
  -webkit-line-clamp: $numLines;
  max-height: $numLines * $lineHeight + unquote('em');
  overflow: hidden;
  text-overflow: -o-ellipsis-lastline;
  text-overflow: ellipsis;
}

/* stylelint-enable value-no-vendor-prefix */

@mixin placeholder {
  ::-webkit-input-placeholder {
    @content;
  }

  :-moz-placeholder {
    @content;
  }

  ::-moz-placeholder {
    @content;
  }

  :-ms-input-placeholder {
    @content;
  }
}

@mixin transition($selector: all, $duration: 0.3s, $delay: 0s, $timing-function: ease-in-out) {
  transition: $selector $duration $delay $timing-function;
}

@mixin neon($_color) {
  border: 1px solid rgba(color($_color), 0.5);
  border-radius: 15px;
  background-color: rgba(color('white'), 0.03);
  box-shadow: 0 0 20px color($_color);
  filter: brightness(2) drop-shadow(0 0 20px color($_color));
  transition: all .25s ease-in-out;

  &:hover {
    background-color: rgba(color('white'), 0.01);
    border-color: color($_color);
  }
}

@mixin neonText($_color) {
  filter: brightness(2) drop-shadow(0 0 20px color($_color));
}

@mixin outlineText($_color, $_font: 'accent', $_width: 1px) {
  @if not ($_color) {
    @warn 'Expected "$_color" variable to be set on mixin "outlineText" in file "_tools.mixins.scss". Received nothing.';
  }

  color: transparent;
  font-family: font($_font);
  -webkit-text-stroke-color: color($_color);
  -webkit-text-stroke-width: $_width;
}

@mixin glitchBefore($_color) {
  @extend %glitch;
  animation: noise-anim-alt 3s infinite linear alternate-reverse;
  right: 0;
  text-shadow: 1px 0 color('quinary');
  top: 0;
  transform: translate(-4px, 4px);
}

@mixin glitchAfter($_color) {
  @extend %glitch;
  animation: noise-anim 3s infinite linear alternate-reverse;
  right: 0;
  text-shadow: 1px 0 color('quinary');
  top: 0;
  transform: translate(-4px, 4px);
}
